
<div class="row">
  <% @posts.each do |post|  %>
    <%= link_to post do %>
      <div class="col-lg-4 col-xs-6 posts_index_div">
         <div class="posts_index_inside_div">
           <span class="posts_index_helper"><%= post.ticker%></span>
           <div class = <%=recommendation_class(post) %>></div>
         </div>
         <div class="posts_index_hover_div">
          <span class="posts_index_helper"><%= post.name%></span>
         </div>
      </div>
      
    <%end%>
 <% end %>
  </div>

<div class="row" id="div_add_new">
  <p><%=link_to "Add New Company", new_post_path%></p>
</div>
