
  <div class = "row" >
  	<div class="col-lg-12">
		<h1><%= @posts.name%></h1>
  	</div>
  </div>
  <div class = "row" >
  	<div class="col-lg-12">
		<h2>Ticker: <%= @posts.ticker%></h2>
  	</div>
  </div>
  <hr>
  <div class = "row" >
  	<div class="col-lg-4">
  		<p>Market price: <%= @price + " " +@currency %> </p> 
  	</div>
  	<div class="col-lg-3" >
  		<p>Our price: <%= number_with_precision(@our_price, precision: 2)+ " " +@currency  %> </p> 
  	</div>
  	<div class="col-lg-5" id="div_recomendation_parent">
      <div class = "col-lg-9" id="div_recomendation">
  		  <p>Recomendation: <span><%= @recomendation %></span> </p> 
      </div>
      <div class = "col-lg-3" id="div_recomendation_color">
      </div>
  	</div>
  </div>
  <hr>
  <div class = "row">
  	<div class="col-lg-12">
  		<p><%= @posts.description%></p>
  	</div>
  	<hr>
  </div>
  <div class = "row">
	  	<div class="col-lg-4">
	  		<p>Region: <%= @posts.region%></p>
	  	</div>
	  	<div class="col-lg-4">
	  		<p>WEB: 
	 		 	<% if @posts.website.to_s.length > 0%>
	   				<%=link_to @posts.website, "http://"+@posts.website, class: "posts_a" %>
	  			<%else%>
	  				none
	  			<%end%>
			</p>
	  	</div>
	  	<div class="col-lg-4">
	  		<p><%=link_to "View reports", post_reports_path(@posts), class: "posts_a" %></p>
	  	</div>
  </div>
  <div class = "row">
		<hr>
		<h5>News</h5>
		<div id="posts_news">
			<% for i in 0..@titles.length%>
				<ul id = "ul_no_bullets">
					<li> <%= link_to(@titles[i].to_s, @links[i].to_s) %> </li>
					<li> <small><%= @descriptions[i]%></small> </li>
          <li> <small>Published on: <%= format_date(@pubDate[i])%></small> </li>
          <hr style="border-top: thin dashed grey" />
				</ul>
			<% end %>
		</div>
		<hr>
  </div>







